.card {
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light);
    color: var(--dark);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.card_image {
    display: block;
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
    margin: 1.5rem 0 0.5rem;
}

.card_info {
    width: 100%;
    display: grid;
    place-items: center;
}

.card_icon {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 1.5rem;
}

.card h2 {
    font-family: var(--poppins);
    margin-bottom: 0.25rem;
}

.card p {
    color: var(--pry);
    font-weight: 400;
    text-transform: uppercase;
}

.card ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.card ul li {
    margin: 0 1rem;
}

.card a {
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
    margin: 0;
    color: var(--dark);
    transition: var(--transition);
}

.card a:hover {
    color: var(--pry);
}

@media screen and (max-width: 1150px) {
    .card {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 80%;
    }

    .card ul li {
        margin: 0 0.25rem;
        font-size: 0.7rem;
    }
}