.main {
    background: var(--mid);
    color: var(--light);
    padding: 10px 30px;
}
.main h2 {
    text-align: center;
    margin-bottom: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact h1 {
    font-family: var(--sans);
    font-size: 5rem;
    margin-bottom: 30px;
}

.contact p {
    width: 70%;
    font-size: 1.3rem;
}

.contact a {
    width: 200px;
    height: 65px;
    background: transparent;
    color: var(--light);
    border: 1px solid var(--sec);
    text-decoration: none;
    padding: 20px 30px;
    margin: 80px 0;
    transition: 1s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 5px 5px var(--sec);
}

.contact a:hover {
    background: var(--sec);
    box-shadow: 0 0 0 0 var(--sec);
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .icon {
    color: transparent;
    stroke: var(--sec);
    stroke-width: 1.5;
    margin-right: 20px;
}

.me {
    color: var(--sec);
    text-align: center;
    margin: 100px 0 20px;
}

@media screen and (max-width: 600px) {
    .contact h1 {
        font-size: 2.5rem;
    }

    .info {
        width: 100%;
    }
}