.section {
    display: grid;
    place-items: center;
    background: rgb(125,11,231);
    background: linear-gradient(0deg, var(--pry) 40%, #000 100%);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
}

.section h1 {
    font-size: 3rem;
}

.section span {
    color: var(--pry);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.section p {
    width: 70%;
    font-size: 1.5rem;
    margin: 5rem 0;
}

.section .link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    margin: 4rem 0;
    border: 2px solid var(--light);
    border-radius: 25px;
    color: var(--light);
    text-transform: uppercase;
    transition: var(--transition);
}

.section .link:hover, .section a:focus {
    animation: pulse 1s infinite;
    border-color: var(--light);
    box-shadow: 0 0 0 2rem rgba(9, 247, 8, 0);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--light);}
}

.section ul {
    list-style: none;
    display: flex;
}

.section ul li {
    margin: 0 1rem;
}

.section ul li a {
    border: none;
    color: var(--light);
    font-size: 2rem;
    transition: var(--transition);
}


.section ul li a:hover,
.section ul li a:focus {
    color: var(--pry);
}

@media screen and (max-width: 800px) {
    .section {
        margin: 3rem 0;
    }
    
    .section p {
        font-size: 1rem;
        margin: 1rem 0;
    }
}