.section {
    color: var(--light);
    text-align: center;
    padding: 2rem 0;
}

.section h1 {
    font-size: 3rem;
}

.section span {
    color: var(--pry);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.section .grid_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin: 2rem 0 0;
}

.grid_container .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    background: transparent;
    color: var(--light);
    padding: 1rem 2rem;
    text-align: left;
    position: relative;
}

.card::before {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--light);
    /* border-radius: 50%; */
    transform: rotate(45deg);
    position: absolute;
    left: 0;
}

@media screen and (max-width: 800px) {
    .grid_container .card {
        width: 100%;
    }
}
