.section {
    padding: 10px 30px;
    background: var(--mid);
    color: var(--light);
}

.section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 900;
}

.timeline {
    margin: 4em auto;
    position: relative;
    max-width: 46em;
}

.timeline:before {
    background-color: var(--light);
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}
  
.event {
    position: relative;
    list-style: none;
}

.event:hover .event_icon {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: var(--sec);
}

.event:hover .event_thumbnail {
    -moz-box-shadow: inset 40em 0 0 0 var(--alt);
    -webkit-box-shadow: inset 40em 0 0 0 var(--alt);
    box-shadow: inset 40em 0 0 0 var(--alt);
}
  
.event_copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
}

.event_copy h3 {
    font-size: 1.75em;
}

.event_copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.event_copy strong {
    font-weight: 700;
}

.event_copy p:not(.event_thumbnail) {
    padding-bottom: 1.2em;
}
  
.event_icon {
    -moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--mid);
    outline: 2px solid var(--light);
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}
  
  .event_thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 0.75em;
    background-color: black;
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
  }
  