.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--light);
    padding: 2rem 1rem 0.5rem;
}

.footer span {
    color: var(--alt);
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}
