@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=M+PLUS+1+Code:wght@300&family=Open+Sans:wght@700&display=swap');
:root {
  --sans: 'Open Sans', sans-serif;
  --rale: 'Inter', sans-serif;
  --code: 'M PLUS 1 Code', sans-serif;
  /* --pry: #55433b; */
  --sec: #ffa985;
  --alt: #e48b93;
  --dark: #000;
  --mid: #555;
  --light: #fbfbfd;
  --time-func: 0.5s all ease;
}

/* ::-webkit-scrollbar {
  width: 0;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, html, body {
  scroll-behavior: smooth;
}

body {
  background: var(--light);
  font-family: var(--rale);
}

main {
  padding: 0 30px;
}