@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://db.onlinewebfonts.com/c/adfdcfb900b1d051d06ebd612d907e44?family=Orelo+SemiWide+Heavy');

:root {
  --orelo: 'Orelo SemiWide Heavy';
  --poppins: 'Poppins', sans-serif;
  --pry: #7D0BE7;
  --sec: #;
  --light: #FCF0EC;
  --dark: #000;
  --body: #392A46;
  --transition: 0.5s all ease;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  font-family: var(--poppins);
  overflow-x: hidden;
}

section {
  padding: 0 1rem;
}

h1, h2, h3 {
  font-family: var(--orelo);
  letter-spacing: 5px;
}

p {
  font-weight: 200;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

canvas {
  background: var(--dark);
  height: 100vh;
}
