@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@700&family=Poppins:wght@200;300;400&display=swap');

:root {
  --palan: 'Palanquin Dark', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --pry: #39FF14;
  --sec: #F43D3D;
  --alt: #1A5846;
  --light: #FFF;
  --dark: #000;
  --transition: 0.5s all ease;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
  background: var(--dark);
  overflow-x: hidden;
}

section {
  padding: 0 1rem;
}

h1, h2, h3 {
  font-family: var(--palan);
}

p {
  font-weight: 200;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

canvas {
  background: var(--dark);
  height: 100vh;
}
