.header {
    height: 100vh;
    color: var(--light);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    position: relative;
}

.three {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: exclusion;
}

.header h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.header p {
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 10rem 0 0;
}

.header ul li {
    margin: 0 1rem;
}

.header ul li a {
    position: relative;
    color: var(--light);
    font-size: 1.5rem;
    transition: var(--transition);
}

.header ul li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: var(--light);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
  
@media (hover: hover) and (pointer: fine) {
    .header ul li a:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .header h1 {
        font-size: 3rem;
    }

    .header p {
        font-size: 1rem;
    }

    .header ul {
        display: none;
    }

    .three {
        z-index: -1;
    }
}
