.header {
  /* background: url('../public/images/pablo.png') no-repeat center; */
  padding: 10px 30px;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav img {
  width: 70px;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header ul li a {
  color: var(--ash);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin: 0 10px;
  transition: var(--time-func);
}

.header ul li a:hover {
  color: var(--light);
}

.hero {
  display: flex;
  font-family: var(--sans);
}

.hero .bio, .hero .info{
  width: 50%;
  padding: 30px 40px;
}

.hero .bio h1 {
  font-size: 5rem;
  line-height: 1;
  margin: 50px 0;
}

.hero .bio a {
  color: var(--pry);
  font-size: 1.4rem;
  margin: 0 10px;
  transition: var(--time-func);
}

.hero .bio a:hover {
  color: var(--light);
}

.hero .info p {
  color: var(--ash);
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 10px;
  }

  .header ul {
    display: none;
  }
  
  .hero {
    flex-direction: column;
  }

  .hero .bio, .hero .info {
    width: 100%;
  }
}