.nav {
    width: 100%;
    padding: 1rem;
    display: none;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 2;
}

.button {
    width: 30px;
    height: 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
}

.button__line {
    width: 100%;
    height: 1px;
    background: var(--pry);
    margin: 4px 0;
    transition: var(--transition);
}

.button.close {
    transform: rotate(48deg);
}

.button__line:nth-child(1) {
    width: 75%;
    align-self: flex-end;
}

.button__line:nth-child(3) {
    width: 60%;
}

.button.close .button__line {
    transition: var(--transition);
}

.button.close .button__line:nth-child(1) {
    width: 50%;
    transform: rotate(0deg) translate3d(-9px, 20px, 0);
}

.button.close .button__line:nth-child(2) {
    transform: rotate(130deg);
}

.button.close .button__line:nth-child(3) {
    width: 50%;
    transform: rotate(90deg) translate3d(-5px, 2px, 0);
}

.menu, .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--dark);
    z-index: 3;
}

.menu ul {
    width: 100%;
    list-style: none;
    color: var(--light);
}

.menu ul li {
    width: 40%;
    text-align: center;
    padding: 0.25rem 2rem;
    margin: 1rem 0;
    border: 1px solid var(--light);
    cursor: pointer;
}

.menu ul li a {
    width: 100%;
    color: var(--pry);
    text-transform: capitalize;
}

.button_resume {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0.75rem;
    margin-top: 1rem;
    background: var(--light);
    color: var(--dark);
    border-radius: 15px;
    transition: var(--transition);
}


.button_resume:hover{
    animation: jelly 0.5s;
}
    
@keyframes jelly {
    25% {
      transform: scale(0.9, 1.1);
    }
  
    50% {
      transform: scale(1.1, 0.9);
    }
  
    75% {
      transform: scale(0.95, 1.05);
    }
}

@media screen and (max-width: 800px) {
    .nav {
        display: flex;
    }
}
