.skills {
    color: var(--color-light);
    text-align: center;
    padding: 0 2rem;
}

.skills h1 {
    font-size: 3rem;
}

.skills span {
    color: var(--color-primary);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.skills p {
    font-size: 1.5rem;
    margin: 2rem 0;
}

.grid {
    width: 80%;
    display: flex;
    flex-wrap: wrap;;
    gap: 1rem;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .skills p {
        font-size: 1rem;
    }
}
