@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.bounce:hover {
  animation: bounce 0.5s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
