@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
